@import '../../css/variables';
@import '../../css/animation.scss';

@import '../../css/mixins.scss';

.LeftNav{
    width: 8em;
    min-height:100vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary);
    color: var(--tertiary);

    .ImageLogo, .ImageLogo img{
        height: 10em;
        width: 100%;
    }
    .soc-media{
        a{
            color: var(--tertiary);
            @include margin-horizontal(9px);
        }
        @for $i from 1 through 4 {
            svg:nth-child(#{$i}):hover{
                color: var(--secondary);
                animation: nav-animation-text .3s ease;
            }
        }
    }
    .copyrights{
        text-align: right;
        @include padding($padding-1);
    }
}