@import '../../css/variables';
@import '../../css/animation.scss';
@import '../../css/mixins.scss';

.LeftNav{
    width: 8em;
    min-height:100vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary);
    color: var(--tertiary);

    .ImageLogo, .ImageLogo img{
        width: 100%;
    }
    .soc-media{
        a{
            color: var(--tertiary);
            @include margin-horizontal(9px);
        }
        @for $i from 1 through 4 {
            svg:nth-child(#{$i}):hover{
                color: var(--secondary);
                animation: nav-animation-text .3s ease;
            }
        }
    }
    .copyrights{
        text-align: right;
        @include padding($padding-1);
    }
}

@media screen and (max-width: 767px) {
    .LeftNav { 
        position: absolute;
        left: -128px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: -10px 4px 13px 0px #050708;
        z-index: 1;
        &.open-active {
            animation: left-nav-slide-right 0.3s cubic-bezier(.49,0,.52,1);
            left: 0px;
            opacity: 1;
            position: fixed;
            box-shadow: 2px 4px 13px 0px #050708;
        }
        &.close-active {
            animation: left-nav-slide-left 0.3s cubic-bezier(.49,0,.52,1);
        }
    }
}