@import './../../css/fonts';
@import './../../css/_variables.scss';
@import './../../css/animation.scss';


@import './../../css/mixins.scss';

.RightContainer{
    width: 100%;
    padding-left: 8em;
    .section-container{
        float: right;
        // position: fixed;
        top: 0;
        left: 8em;
        width: 100%;
    }
    .sections{
        width: 100%;
        min-height: 100vh;
        .greet-zone, .abt-skills, .work-exp, .contact-us{
            @include padding-horizontal($padding-4 * 2);
            overflow: hidden;
            &.active{
                animation: div-slide-up 1s cubic-bezier(.49,0,.52,1);
                top: 0px;
                opacity: 1;
            }
        }
        &:nth-child(1){
            background-image: url(./../../assets/image/code-1076536_1920.jpg);
        }
        &:nth-child(2){
            background-color: var(--secondary-light);
        }
        &:nth-child(3){
            background-color: var(--secondary);
        }
        &:nth-child(4){
            background-color: var(--primary);
        }
        &:nth-child(5){
            background-color: white;
        }
    }

    .greet-zone{
        background-color: #131f23fa;
        min-height: inherit;
        position: relative;
        color: var(--tertiary);
        &:after{
            clear: both;
            content: "";
            display: block;
        }
        .text-box{
            width: 1050px;
            position: relative;
            top: 32vh;
            margin: 0 auto;
            .greetings {
                margin-bottom: 0;
                color: var(--secondary);
                font-size: 2em;
                position: relative;
            }
            h1{
                font-size: 8em;
                font-family: $font-bold;
                position: relative;
                span{
                    display: inline-block;
                    transform-origin: 0 0;

                    @include slide-color-b-to-t;
                    &:hover{
                        background-position: 100% 100%;
                        animation: slide-color-b-to-t 275ms ease, rubber 1s infinite ease-out;
                    }
                }
            }
            .status-title{
                color: #8e9e9d;
                font-size: 3em;
                font-family: $font-bold;
                position: relative;
            }            
        }

        .pic img{
            @include padding-horizontal(3rem);
            float: right;
            position: relative;
            bottom: 100px;
            width: 500px;
            height: 450px;
        } 
    }
    .abt-skills{
        display: flex;
        flex-direction: column;
        @include padding-vertical(4em);
        .about{
            @include margin-vertical($padding-4)
        }
        .container{
            display: flex;
            .columns{
                float: left;
                width: 50%;
                height: 50%;
            }
        }
        .img-wrapper {
            @include margin-horizontal(auto);
            .hexa, .hexa div {
                overflow: hidden;
                margin: 0 auto;
              }
              .hexa {
                width: 325px;
                height: 230px;
              }
              .hexa div {
                width: 100%;
                height: 100%;
              }
              .hexa {
                transform: rotate(120deg);
              }
              .hex1 {
                transform: rotate(-60deg);
              }
              .hex2 {
                transform: rotate(-60deg);
              }
            img{
                @include margin-horizontal(auto);
                display: block;
                height: 300px;
                width: 300px;
            }
        }
        .abt{
            font-size: 1.4em;
            letter-spacing: 2px;
            width: 55%;
            h2{
                font-family: $font-bold;
            }
        }
        .skill{
            h2{
                font-family: $font-bold;
                @include margin-vertical(1em)
            }
            .skill-container{
                justify-content: space-between;
                display: flex;
                flex-wrap: wrap;
                .skill-wrapper{
                    img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }
                    p{
                        letter-spacing: 2px;
                        font-size: 1.4em;
                        text-align: center;
                        @include margin-vertical(15px)
                    }
                }
            }            
        }
        position: relative;
        top: 100px;
        opacity: 0;
    }
    .work-exp{
        padding-top: 8em;
        position: relative;
        top: 100px;
        opacity: 0;
        h1{
            font-family: $font-bold;
            font-size: 5em;
            // text-align: center; 
        }
        .work-container{
            width: 90%;
            display: flex;
            @include margin-horizontal(auto);
            @include margin-vertical(3.5em);
            min-height: 50vh;
            font-size: 1.4em;
            letter-spacing: 1px;
            .list-option{
                position: relative;
                .moving-line {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: 10;
                    width: 2px;
                    height: 40px;
                    border-radius: 2px;
                    background: var(--primary);
                    transform: translateY(calc(0 * 40px));
                    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
                }
                .btn{
                    text-decoration: none;
                    text-decoration-skip-ink: auto;
                    position: relative;
                    cursor: pointer;
                    -webkit-box-align: center;
                    align-items: center;
                    width: 100%;
                    height: 40px;
                    border-left: 2px solid #2b7a7845;
                    background-color: transparent;
                    color: var(--secondary-dark);
                    
                    &:hover{
                        background-color: #48dcd4;
                        color: var(--primary);
                    }
                }
                button{
                    border: 0px;
                    border-radius: 0;
                    &.active{
                        background-color: #48dcd4;
                        color: var(--primary);  
                    }
                }
            }
            .detailed-work{
                width: 90%;
                @include padding-horizontal(1em);
                position: relative;
                top: 0;
                left: 100px;
                opacity: 0;
                &.open-active{
                    animation: div-slide-left 1s cubic-bezier(.49,0,.52,1);
                    left: 0px;
                    opacity: 1;
                }
                .work {
                    h3{
                        font-family: $font-bold;
                    }
                    p{
                        margin: 0;
                        &.date{
                            font-size: 18px;
                        }
                        &.work-desc {
                            border-top: 1px solid #17252a30;
                            text-align: justify;
                            @include padding-vertical(1em);
                        }
                    }
                }
            }
        }
    }
    .contact-us{
        color: white;
        display: flex;
        padding-top: 8em;
        position: relative;
        top: 100px;
        opacity: 0;
        // @include padding-vertical(8em);
        .left-side, .right-side{
            width: 50%;
        }
        &:after{
            clear: both;
            content: "";
            display: block;
        }
        .left-side{
            button{
                padding:5px 1rem;
                background-color: #dcdcdc;
                border: 1px solid #17252ad1;
                border-radius: 3px;
                color:#000;
                text-decoration:none;    
                font-size: 1.2em;   
                &:hover{
                    background-color: var(--secondary);
                }
            }
            form{
                @include margin-vertical(3em);
                label{
                    font-size: 1.4em;
                    letter-spacing: 1px;
                }
                input, textarea{
                    display: block;
                    border: none;
                    border-radius: 3px;
                    background-clip: padding-box;
                    box-shadow: inset 0 1px 2px 0px var(--primary);
                    width: 60%;
                    color: white;
                    font-size: 1.4em;
                    padding: 0;
                    margin-bottom: 20px;
                    background-color: #243a42;
                }
                textarea{
                    width: 75%;
                    height: 200px;
                }
            }
        }
        .right-side {
            .sc{
                @include padding-vertical(6em);
                a {
                    color: white;
                    text-decoration: unset;
                    span{
                        font-size: 1.4em;
                        letter-spacing: 1px;
                        position: relative;
                        top: -18px;
                        @include margin-horizontal(1em);
                    }
                    svg{
                        width: 55px;
                        height: 55px;
                        @include margin-horizontal(10px);
                    }
                    &:hover{
                        color: var(--secondary);
                    }
                }
            }
        }
    }
}