@import '_variables.scss';
@import '_fonts.scss';
@import 'animation.scss';

:root{
    --primary: #17252a;
    --secondary-dark: #2b7a78;
    --secondary: #4bf0e7;
    --secondary-light: #def2f1;
    --tertiary: #feffff;
}

*, *:before, *:after {
box-sizing: inherit;
}
  
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #292828;
    font-family: $font-regular;
    #root {
        max-width: 1500px;
        margin: auto;
    }
}

body, h1, h2, h3, p {
    margin: 0;
}

.App {
    &:after{
        clear: both;
        content: "";
        display: block;
    }
}