@import '_variables.scss';
@import 'animation.scss';

@import 'mixins.scss';

.LeftNav{
    width: 8em;
    min-height:100vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background-color: var(--primary);
    color: var(--tertiary);

    .ImageLogo, .ImageLogo img{
        height: 10em;
        width: 100%;
    }
    .soc-media{
        a{
            color: var(--tertiary);
            @include margin-horizontal(9px);
        }
        @for $i from 1 through 4 {
            svg:nth-child(#{$i}):hover{
                color: var(--secondary);
                animation: nav-animation-text .3s ease;
            }
        }
    }
    nav{
        li {
            text-align: right;
            border-top: 1px solid #7c7c7c52;
            letter-spacing: 1px;
            
            @include padding($padding-1);
            @include slide-color-r-to-l;
            &:hover{
                background-position: 100% 100%;
                animation: slide-color-r-to-l 275ms ease;
            }
            &:last-child{
                border-bottom: 1px solid #7c7c7c52;
            }
        }
    }
    .copyrights{
        text-align: right;
        @include padding($padding-1);
    }
}